<app-nav-bar></app-nav-bar>

<div>
    <div>
        <div class="m-4">
            <h1>Torneos</h1>
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-4">
            <a type="submit" class="btn btn-info">Agregar</a>
        </div>
        <div class="m-4 text-center">
            <div class="card" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title m-4">Torneo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Usuario</h6>
                    <div class="dropdown-divider"></div>
                    <p class="card-text m-3">Descripcion: </p>
                    <div class="m-4">
                       <a routerLink="/league" class="card-link">Ver</a>
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Eliminar</a> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>