<app-nav-bar></app-nav-bar>

<div >
    <div>
        <div class="m-4 ">
            <h1>Liga</h1>
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-4">
            <a type="submit" class="btn btn-success m-2">Agregar Equipo</a>
            <a type="submit" class="btn btn-info m-2">Agregar Marcador</a>
            <a type="submit" class="btn btn-danger m-2">Grafica</a>
        </div>
        <div class="m-4 text-center">
            <div class="card" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                    <h4 class="card-title m-4">Nombre Equipo</h4>
                    <div class="dropdown-divider"></div>
                    <p class="card-text m-3">Descripcion: </p>
                    <div class="m-4">
                        <a href="#" class="card-link">Datos</a>
                         <a href="#" class="card-link">Editar</a>
                         <a href="#" class="card-link">Eliminar</a> 
                     </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>