<app-nav-bar></app-nav-bar>


<div class="container text-center">

    <div class="m-5">
        <h1>Torneo deportivo</h1>
        <div class="dropdown-divider"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur labore velit, temporibus sit praesentium
            culpa? Sint quasi possimus, accusantium ad doloribus dignissimos amet quis odit, maiores, similique
            excepturi sequi. Debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et adipisci optio
            praesentium, animi nisi vero maiores eligendi sapiente obcaecati ullam. Explicabo dolorem dolore porro nam
            ipsum atque, consectetur autem nihil.</p><br>
    </div>

    <div class="m-5">
        <div class="row m-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Torneos</h5>
                        <p class="card-text">Los torneos que se tienen planeados o se llevan a cabo</p>
                        <a routerLink="/tournaments" class="btn btn-primary">Ver torneos</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Las cuentas creadas por los clientes y empleados</p>
                        <a routerLink="/users" class="btn btn-primary">Ver Usuarios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Historial</h5>
                        <p class="card-text">Los cambios que se realizan en la página</p>
                        <a routerLink=""class="btn btn-primary">Ver Historial</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" >Estadísticas</h5>
                        <p class="card-text">Los puntos obtenidos por los equipos</p>
                        <a routerLink="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#graphicModal" (click)="getPoints()">Ver estadisticas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal graficas-->

<div>
    <div class="modal fade" id="graphicModal" tabindex="-1" aria-labelledby="graphicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="graphicModalLabel">- Gráficas -</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <ngx-charts-advanced-pie-chart
                        [view]="view"
                        scheme="cool"
                        [results]="points"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                     >
                    </ngx-charts-advanced-pie-chart>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>