<body>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-primary text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center" style="background-color: #193972; border-radius: 1rem;  ; border-color: black;">
                            <div class="mb-md-5 mt-md-4 pb-5 m-2">
                                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
    
                                        <div class="form-outline">
                                            <span *ngIf="!name.valid && name.touched" style="color: rgb(247, 126, 40);">
                                                Required Field
                                            </span>
                                            <input [(ngModel)]="user.name" name="ngModel" #name="ngModel" type="text" class="form-control form-control-lg" required/>
                                            <label class="form-label">Name</label>
                                        </div>
    
                                    </div>
                                    <div class="col-md-6 mb-4">
    
                                        <div class="form-outline">
                                            <span *ngIf="!username.valid && username.touched" style="color: rgb(247, 126, 40);">
                                                Required Field
                                            </span>
                                            <input [(ngModel)]="user.username" name="username" #username="ngModel" type="text" id="lastName" class="form-control form-control-lg" required/>
                                            <label class="form-label" for="lastName">Username</label>
                                        </div>
    
                                    </div>
                                </div>
    
    
                                <div class="form-outline form-white mb-4">
                                    <span *ngIf="!email.valid && email.touched" style="color: rgb(247, 126, 40);">
                                        Required Field
                                    </span>
                                    <input [(ngModel)]="user.email" name="email" #email="ngModel"  type="email" id="typeEmailX" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>
    
                                <div class="form-outline form-white mb-4">
                                    <span *ngIf="!password.valid && password.touched" style="color: rgb(247, 126, 40);">
                                        Required Field
                                    </span>
                                    <input [(ngModel)]="user.password" name="password" #password="ngModel" type="password" id="typePasswordX" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
    
                                <button [disabled]="!registerForm.form.valid" class="btn btn-outline-light btn-secondary px-5" type="submit" >Check In</button>
                                <div>
                                    <a routerLink="/login" class="btn btn-link text-white-50">Cancel</a>
    
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>